<h1>Meet your new family member</h1>

<ul>
  <li><a href="/rehome/new">Add a new pet</a></li>
</ul>

<form action="/rehome" method="GET">
  <select id="status-select" name="vet_id">
    <% @status.each do |state| %>
    <option value=<%= state.id %>> <%= state.status %></option>
    <% end %>
  </select>
  <input type="submit" value="Filter">
</form>

<div class="grid-row">

    <% for animal in @animals%>
    <div class="cell">
      <img src="../images/<%= animal.photo %>">
      <h1><%= animal.name %></h1>
      <p><a href="/rehome/<%= animal.id %>">More Info</a></p>
      </div>
    <% end %>


</div>
