<h1>Meet your new family member</h1>


<div class="button-wrap">
  <a href="/rehome/new" class="button">Add new pet</a>
</div>

<div class="form-wrap">
  <form action="/rehome" method="GET">
    <select id="status-select" name="vet_id">
      <% @status.each do |state| %>
      <option value=<%= state.id %>> <%= state.status %></option>
      <% end %>
    </select>
    <input type="submit" value="Filter">
  </form>
</div>

<div class="grid-row">

    <% for animal in @animals%>
    <div class="cell">
      <img src="../images/<%= animal.photo %>">
      <h1><%= animal.name %></h1>
      <p><a href="/rehome/<%= animal.id %>">More Info</a></p>
      </div>
    <% end %>


</div>
