<h1><%= @animal.name %></h1>
<p><%= @animal.type %></p>
<p><%= @animal.age %></p>
<p><%= @animal.status().status %></p>
<p><%= @animal.date_entered %></p>
<form action="/rehome/<%= @animal.id %>/delete" method="POST">
  <input type="submit" value="Delete">
</form>
